<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotless" version="1.4.0.0" targetFramework="net40" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net40" />
  <package id="TaskManager" version="0.9.0" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.3.0.0" targetFramework="net40" />
</packages>