<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <clear />
        <!--清除默认监听器-->
        <!--添加自定义监听器 initializeData 就是初始化参数-->
        <add name="ProjectTraceListener" type="ProjectLog.ProjectTraceListener, ProjectLog, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="log\log.log" />
      </listeners>
    </trace>
    <switches>
      <!--这里可以设定监听级别,可以设置Error,Warning,Info或者留空-->
      <add name="ProjectTraceListener" value="Error;Warning;Info" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <!--MQTT配置-->
    <add key="topic" value="topic/serial/fence"/>
    <add key="ip" value="192.168.19.31"/>
    <add key="port" value="1883"/>
    <!--串口配置-->
    <add key="Com" value="com3"/>
    <add key="Rate" value="1200"/>
    <add key="Bits" value="8"/>
    <add key="Parity" value="0"/>
    <add key="StopBits" value="1"/>

  </appSettings>
</configuration>