<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <clear />
        <!--清除默认监听器-->
        <!--添加自定义监听器 initializeData 就是初始化参数-->
        <add name="ProjectTraceListener" type="ProjectLog.ProjectTraceListener, ProjectLog, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="log\log.log" />
      </listeners>
    </trace>
    <switches>
      <!--这里可以设定监听级别,可以设置Error,Warning,Info或者留空-->
      <add name="ProjectTraceListener" value="Error;Warning;Info" />
    </switches>
  </system.diagnostics>
  <appSettings>
     <!--接口配置-->
    <add key="url" value="http://127.0.0.1:5000/" />
    <!--MQTT配置：用|隔开每个主题-->
    <add key="topic" value="SmartBI/Capture" />
    <add key="ip" value="192.168.19.11" />
    <add key="port" value="1883" />
    <!--照片ip端口配置：默认为本机ip，实际为服务器ip-->
    <add key="PictureIP" value="" />
    <add key="PicturePort" value="8012" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>